<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<style>
    .nav-link, .navbar-brand {
        color: white;
    }
</style>

<body>

    @*Default*@

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Event Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@


    @*My Changes*@

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #88C2DD;">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder" id="heading" href="#">Event Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="listItem1" aria-current="page" href="/College/Index">College</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem2" href="/Year/Index">Year</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/Branch/Index">Branch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/Semester/Index">Semester</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/Student/Index">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/EventMaster/Index">EventMaster</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/EventLocationMaster/Index">EventLocationMaster</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/Seat/Index">Seat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/Event/Index">Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listItem3" href="/BookingInfo/Index">BookingInfo</a>
                    </li>
                    <li>
                        <a class="nav-link" id="listItem3" href="/Booking_SeatInfo/Index"> Booking_SeatInfo</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn btn-secondary" href="/LoginPage/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>